.DS_Store

# Terraform working directory
**/.terraform/**

# Terraform state
*.tfstate
*.tfstate.*

# Local variable values / credentials
*.tfvars
*.tfvars.json

# Terraform plan files
*.tfplan

# Terraform crash logs
crash.log
crash.*.log
